@keyframes titleAnimations {
    from{background-color: transparent;}
    to{background-color:gray;}
}
@keyframes title {
    from{color: transparent;}
    to{color:gray;}
}
@keyframes imgAnimations {
    from{opacity: 0;}
    to{opacity: 1;}
}

.Title {
    margin:auto;
    color: gray;
    animation-name: title;
    animation-duration: 4.5s;
    padding-bottom: 25px;
}
.UIcontainer{
    display: flex;
    flex-direction: column;
    
}
/* .dashboard {
    animation-name: titleAnimations;
    animation-duration: 4.5s;
    border-style: solid;
    height: 280px;
    width: 380px;
    color: white;
    border-radius: 900px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: gray;
    font-size: 10px;
    
} */

/* .dashboardTitle {
    color: wgray;
} */

/* .airValue {
    font-size: 60px;
    padding-bottom : 200px;
    margin-top: auto;
} */

.btButton {
    border-radius: 50%;
    height:100px;
    background-color: grey; 
    color: white;
    width: 100px;
    margin:auto;
   
    animation-name: titleAnimations;
    animation-duration: 6.5s;
}
/* img {
    height: 100px;
    animation-name: imgAnimations;
    animation-duration: 4.5s;
} */

.chart {
    margin-left: auto;
    margin-right: 40px;
    padding-bottom: 30px;
    animation-name: imgAnimations;
    animation-duration: 5.5s;
    
}

@media screen and (max-width: 800px) {
    .UIcontainer {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      height:100%;
    }
}
/* rgb(238,136,255) */